_BASE_: ../../Mask2Former/configs/ade20k/semantic-segmentation/Base-ADE20K-SemanticSegmentation.yaml

MODEL:
  META_ARCHITECTURE: "MaskFormer"

  BACKBONE:
    NAME: "Dinov3Backbone"

  DINOV3:
    REPO: "/home/aminaasgarova/Desktop/dinov3/dinov3"
    WEIGHTS: "/home/aminaasgarova/Desktop/dinov3/dinov3/dinov3_vitl16_pretrain_sat493m-eadcf0ff.pth"
    MODEL_NAME: "dinov3_vitl16"
    VIT_DIM: 1024
    OUT_CHANNELS: 256
    FREEZE: True

  PIXEL_MEAN: [109.65, 104.805, 75.48]
  PIXEL_STD: [54.315, 39.78, 36.465]

  SEM_SEG_HEAD:
    NAME: "MaskFormerHead"
    IGNORE_VALUE: 255
    NUM_CLASSES: 2
    LOSS_WEIGHT: 1.0
    CONVS_DIM: 256
    MASK_DIM: 256
    NORM: "GN"

    PIXEL_DECODER_NAME: "MSDeformAttnPixelDecoder"
    IN_FEATURES: ["res2", "res3", "res4", "res5"]
    DEFORMABLE_TRANSFORMER_ENCODER_IN_FEATURES: ["res3", "res4", "res5"]
    COMMON_STRIDE: 4
    TRANSFORMER_ENC_LAYERS: 6

  MASK_FORMER:
    TRANSFORMER_DECODER_NAME: "MultiScaleMaskedTransformerDecoder"
    TRANSFORMER_IN_FEATURE: "multi_scale_pixel_decoder"
    DEEP_SUPERVISION: True
    NO_OBJECT_WEIGHT: 0.1
    CLASS_WEIGHT: 2.0
    MASK_WEIGHT: 5.0
    DICE_WEIGHT: 5.0
    HIDDEN_DIM: 256
    NUM_OBJECT_QUERIES: 100
    NHEADS: 8
    DROPOUT: 0.0
    DIM_FEEDFORWARD: 2048
    ENC_LAYERS: 0
    PRE_NORM: False
    ENFORCE_INPUT_PROJ: False
    SIZE_DIVISIBILITY: 32
    DEC_LAYERS: 10
    TRAIN_NUM_POINTS: 12544
    OVERSAMPLE_RATIO: 3.0
    IMPORTANCE_SAMPLE_RATIO: 0.75

DATASETS:
  TRAIN: ("buildings_sem_seg_train",)
  TEST: ("buildings_sem_seg_val",)

INPUT:
  FORMAT: "RGB"
  DATASET_MAPPER_NAME: "buildings_npy_semantic"
  SIZE_DIVISIBILITY: 32

SOLVER:
  IMS_PER_BATCH: 2
  BASE_LR: 0.0001
  MAX_ITER: 20000
  BACKBONE_MULTIPLIER: 0.1

TEST:
  EVAL_PERIOD: 1000

OUTPUT_DIR: "./output/buildings_dinov3_mask2former"
